*{
margin:0;
padding:0;
font-family: 'Libre Caslon Text', serif;
text-decoration: none;
}
.container{
	position:relative;
	background-image:url(img.jpg);
	background-size:100% 100%;
	background-attachment:fixed;
}
.image{
	z-index:-1;
}
.page1{
	position:relative;
	width:100%;
	height:100vh;
}
.nav{
	position:fixed;
	z-index:1;
	height:15vh;
	width:70%;
	background-color:rgba(0, 0, 0, .4);
}
.nav ul{
	position:absolute;
	width:100%;
	left:5%;
	top:30%;
	list-style:none;
}
.nav ul li{
    float:left;
	font-size:30px;
	color:skyblue;
	background:transparent;
	margin-left:5%;
	text-transform:capitalize;
	border:2px solid white;
	box-shadow:2px 5px 5px 2px white;
	border-radius:50px;
	padding:7px 20px;
	box-sizing:border-box;
}
.nav ul li a{
	color:skyblue;
}
.nav ul li a:hover{
	color:indigo;
}
.nav ul li:hover{
	color:blueviolet;
	border:2px solid blueviolet;
	background:linear-gradient(to top left, wheat, white, wheat);
	box-shadow:2px 5px 5px 2px lightyellow;
}

.nav ul li active{
	color:indigo;
}
.text{
	position:relative;
	top:30vh;
	width:40%;
	height:50%;
	left:15%;
}
.text h1{
	color:wheat;
	font-size:45px;
	text-transform:uppercase;
	animation-name:text;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
	overflow:hidden;
	white-space:nowrap;
  }
  .text span{
	  color:indigo;
	  line-height:5rem;
  }
  @keyframes text {
    0%   {
      letter-spacing: 1.2em;
      color: rosybrown;
    }
}
.text h2{
	color:wheat;
	font-size:30px;
	line-height:50px;
}
.text h3{
	color:wheat;
	font-size:35px;
}
.forum{
	padding:7px;
	width:50%;
	height:5vh;
	background:transparent;
	border:2px solid white;
	font-size:35px;
	color:indigo;
	text-align: center;
	box-shadow:2px 5px 5px 2px white;
	border-radius:50px;	
	overflow: hidden;
}
.forum spu{
	color:white;
	font-size:30px;
}
.forum:hover{
	color:blueviolet;
	overflow: visible;
	border:1px solid blueviolet;
	background:linear-gradient(to top left, wheat, white, wheat);
	box-shadow:2px 5px 5px 2px transparent;
}
.right-bar{
	position:fixed;
	height:100vh;
	width:20%;
	left:80%;
	top:0vh;
	animation:nav 20s infinite;
	animation-fill-mode: forwards;
	list-style:none;
}
@keyframes nav{
	0%{top:-20vh;}
	50%{top:0vh;}
	100%{top:-20vh;}
}

.right-bar ul{
	height:100vh;
	list-style:none;
}
.right-bar ul li{
	text-align:center;
	font-size:20px;
	margin:45px;
	width:120px;
	height:80px;
	color:skyblue;
	background:rgba(0, 0, 0, .2);
	text-transform:capitalize;
	border:2px solid white;
	box-shadow:2px 5px 5px 2px white;
	border-radius:50%;
	padding:20px 5px;
	box-sizing:border-box;
}
.right-bar ul li:hover{
	color:indigo;
	background:linear-gradient(to top left, skyblue, wheat);
	border:2px solid skyblue;
	box-shadow:2px 5px 5px 2px white;
}
.right-bar ul li:nth-child(1){
	margin-left:80px;
	animation:li1 5s infinite;
}
@keyframes li1{
	0%{margin-left:80px;}
	50%{margin-left:-20px;}
	100%{margin-left:80px;}
}
.right-bar ul li:nth-child(2){
	margin-left:-20px;
	animation:li2 5s infinite;
}
@keyframes li2{
	0%{margin-left:-20px;}
	50%{margin-left:80px;}
	100%{margin-left:-20px;}

}
.right-bar ul li:nth-child(3){
	margin-left:80px;
	animation:li3 5s infinite;
}
@keyframes li3{
	0%{margin-left:80px;}
	50%{margin-left:-20px;}
	100%{margin-left:80px;}
}
.right-bar ul li:nth-child(4){
	margin-left:-20px;
	animation:li4 5s infinite;
}
@keyframes li4{
	0%{margin-left:-20px;}
	50%{margin-left:80px;}
	100%{margin-left:-20px;}
}
.right-bar ul li:nth-child(5){
	margin-left:80px;
	animation:li5 5s infinite;
}
@keyframes li5{
	0%{margin-left:80px;}
	50%{margin-left:-20px;}
	100%{margin-left:80px;}
}
.right-bar ul li:nth-child(6){
	margin-left:-20px;
	animation:li6 5s infinite;
}
@keyframes li6{
	0%{margin-left:-20px;}
	50%{margin-left:80px;}
	100%{margin-left:-20px;}
}
.right-bar ul li:nth-child(7){
	margin-left:80px;
	animation:li1 5s infinite;
}
@keyframes li7{
	0%{margin-left:80px;}
	50%{margin-left:-20px;}
	100%{margin-left:80px;}
}
.page2{
	height:100vh;
	width:70%;
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content:center;
	line-height:3vh;
	list-style:none;
}
.page2 h1{
	color:indigo;
	margin:2vh;
}
.page2 h2{
	color:wheat;
	line-height:5vh;
}
.page2 ul{
	position:relative;
	width:80vh;
	height:40vh;
	border:3px solid wheat;
	border-radius:60%;
	top: 12vh;
	list-style: none;
	display:flex;
	align-items: center;
	justify-content: center;
}
.page2 ul li{ 
	position:absolute;
	font-size:20px;
	width:23vh;
	line-height:4vh;
	height:12vh;
	text-align: center;
	color:indigo;
	background:linear-gradient(to top left, rgb(83, 187, 201), white, rgb(204, 237, 245));
	text-transform:capitalize;
	border:2px solid white;
	box-shadow:2px 5px 5px 2px wheat;
	border-radius:50%;
	padding:7px 20px;
	box-sizing:border-box;
}
.page2 ul li:hover{
	border:2px solid white;
	box-shadow:2px 5px 5px 2px white;
	background:linear-gradient(to top left, skyblue, rgb(99, 76, 248));
	color:indigo;
	
}
.page2 ul li a:hover{
	color:white;
} 
.page2 ul li:nth-child(1){
	left:-10%;
	margin-top:-5vh;
}
.page2 ul li:nth-child(2){
	left:18%;
	top:-8vh;
}
.page2 ul li:nth-child(3){
	left:62%;
	margin-top:-18vh;
}
.page2 ul li:nth-child(4){
	margin-left:47%;
	margin-top:3vh;
}
.page2 ul li:nth-child(5){
	left:50%;
	top:32vh;
}
.page2 ul li:nth-child(6){
	left:10%;
	top:28vh;
} 
.page3{
	width:80%;
	height:200vh;
	padding:1px;
}
.one{
	position:relative;
	width:30%;
	height:30vh;
	display:inline-block;
	margin-left:3%;
	margin-top:5vh;
}
.one a{
	position:absolute;
	color:transparent;
	font-size: 50px;
	top:12vh;
	left:30%;
	text-transform: uppercase;
	text-align: center;
}
.one a:hover{
	height:100%;
	width:100%;
	top:0vh;
	left:0;
	color:indigo;
    background:rgba(0, 0, 0, .3);
}
.one img{
	height:30vh;
	width:100%;
	border:2px solid indigo;
	box-shadow:2px 5px 5px 2px white;
}
.page3-1{
	width:100%;
	height:100vh;
	margin-top:10vh;
}
.page3-1 ul{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: center;
	align-items: center;
	list-style: none;
}
.page3-1 ul li{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size:25px;
	text-transform: capitalize;
	height:30vh;
	width:20%;
	color:indigo;
	border-radius:60%;
	box-shadow:2px 5px 5px 2px white;
	margin-top:10vh;
	margin-left:10vh;
	background:transparent;
	transition-duration: 1s;
}
.page3-1 ul li:hover{
	background:linear-gradient(to top left, skyblue, rgb(99, 76, 248));
}
.box{
	 background:transparent;
	 margin-top:2vh;
	}
.btn{
	display:inline-block;
	text-align:center;
	font-size:15px;
    height:20px;
	width:20px;
	border-radius:50%;
	background:white;
}
.page3 h1{
	color:indigo;
	text-transform: capitalize;
	text-align: center;
	margin-top:15vh;
}
.page4{
	height:100vh;
	width:80%;
}
.two{
	height:40vh;
	width:25%;
	padding:10px;
	color:white;
	font-size:40px;
	margin-left:3%;
	margin-top:30vh;
	display:inline-block;
	background:transparent;
	border-top:5px solid white;
	border-left:5px solid white;
	box-shadow:-5px -5px 9px indigo;
}
.two sp{
	color:indigo;
	border-bottom:3px solid indigo;
}
.two:hover{
	border-top:5px solid transparent;
	border-left:5px solid transparent;
	border-bottom:5px solid white;
	border-right:5px solid white;
	box-shadow:5px 5px 9px indigo;
	}
	.two ul{
		margin-left:15%;
		margin-top:5vh;
	}
	.page5{
		width:50%;
		height:100vh;
		display:flex;
		align-items: flex-end;
		justify-content: center;
	}
	.five{
	   height:80vh;
	   width:50%;
	}
	.ic{
		width:100%;
		height:15%;
		margin:10px;
		border-top:2px solid white;
		font-size:30px;
		color:indigo;
		padding:20px;
	}
	.ic i{
		margin-left:40%;
	}
	.ic:hover{
	box-shadow:2px 5px 5px 2px white;
	}
	.ic i:hover{
		transform:scale(1.3);
		color:wheat;
	}

	
	